<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top">

  <!-- Navbar brand -->
  <a class="navbar-brand" href="(% url 'all_images' %}">Photo Gallery</a>

  <!-- Collapse button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
    aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="basicExampleNav">

    <form class="form-inline" role="search" action="{% url 'search_results' %}">
      <div class="md-form my-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search Category" aria-label="Search" name="category">
        <button class="btn btn-success" type="submit">Search</button> 
      </div>
    </form>
  </div>
  <button class="btn btn-primary"><a href="http://127.0.0.1:8000/admin/">Add Photo</a></button>
  <!-- Collapsible content -->

</nav>
<!--/.Navbar-->